extends /layouts/default.pug

//- include /shared/components/hello-world/index.pug
include ./components/rickandmorty/index.pug

block variables

block head
	+log({ users: API.users, route })

block content

	//- +hello-world()

	//- 	- const routeHome = Boilerplate.getRoute( 'home' )
	//- 	- const routeForm = Boilerplate.getRoute('form-example')
	//- 	- const quote = Boilerplate.getData('shared/data/quote.json')

	//- 	blockquote #{quote.antoine.blockquote}
	//- 	cite #{quote.antoine.cite}

	//- 	p Visit:
	//- 		a( href=routeHome.path ) /#{routeHome.title},
	//- 		a( href=routeForm.path ) /#{routeForm.title}

	+rickandmorty()
