extends /presentation/layouts/default.pug

include ./components/todo/index.pug
include /presentation/components/hello-world/index.pug
include /node_modules/cards-design-system/components/header/index.pug

block head
	+log( route.params )

block content

	+hello-world()

		- const routeAbout = Boilerplate.getRoute('about')
		- const routeSample = Boilerplate.getRoute('sample')
		- const quote = Boilerplate.getData('quote')

		blockquote #{quote.davinci.blockquote}
		cite #{quote.davinci.cite}

		p Visit :
			a( href=routeAbout.path ) /#{routeAbout.title},
			a( href=routeSample.path ) /#{routeSample.title}

	+todo()
