extends /layouts/default.pug

include /components/hello-world/index.pug
include ./components/todo/index.pug

block head
	+log( route.params )

block content

	+hello-world()

		- const routeAbout = getRoute('about')
		- const routeSample = getRoute('sample')
		- const quote = getData('quote')

		blockquote #{quote.davinci.blockquote}
		cite #{quote.davinci.cite}

		p Visit :
			a( href=routeAbout.path ) /#{routeAbout.title},
			a( href=routeSample.path ) /#{routeSample.title}

	+todo()
