
mixin form-group({ label, rules })

	- const { name } = attributes
	- const error = `errors.${name}`
	- const groupClass = `${error}? 'error':''`
	- const field = attributes.type == 'textarea' ? attributes.type : 'input'

	div.form-group( v-class=groupClass )
		label( for=name )= label
		#{field}.form-control( data-rules=Boilerplate.toJSON(rules) autocomplete="off" data-static )&attributes( attributes )
		+form-errors( name, error, rules )

//- @Errors
mixin form-errors( id, error, rules = {} )

	- const messages = {}
	- messages.name = 'Digite um nome válido'
	- messages.email = 'Digite um email válido'
	- messages.minAge = `A idade mínima é de ${rules.minAge} anos`
	- messages.required = 'Este campo é obrigatório'

	template
		each value, name in rules
			p.error-message( v-if=`${error} == '${name}'` data-animation="error-message" )
				| #{messages[name]}
