
mixin image( url, alt, lazyload = true )

	- const isExternal = /http|\/\//.test(url)
	- const src = isExternal ? url : require(`images/${url}`).default

	if lazyload
		img.image.lazyload( data-src=src alt=alt data-static )&attributes(attributes)
	else
		img.image( src=src alt=alt data-static )&attributes(attributes)
