mixin dns-prefetch(list = ['https://fullstory.com/'])
	each url in list
		link( rel="dns-prefetch" href=url )

mixin style()
	link( rel="stylesheet" href=`${site.assetsFolder}css/${page}.css?v=${site.hash}` )

mixin prevent-alert()
	script(type="text/javascript").
		if( '#{environment}' == 'production'){
			window.alert = function(){
				var args = Array.prototype.slice.call(arguments);
				console.warn.apply(console, ['Alert in the code!', 'Logging =>'].concat(args));
			}
		}

mixin js()
	script(type="text/javascript").
		!(function(){
			if(!!window.navigator.userAgent.match(/Trident\/7\./)){
				var script = document.createElement('script');
				script.src = '//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.min.js';
				document.head.appendChild(script);
			}
		})();
	script(type="text/javascript" src=`${site.assetsFolder}js/main.js?v=${site.hash}` defer)
	script(type="text/javascript" src=`${site.assetsFolder}js/${page}.js?v=${site.hash}` defer)

mixin fonts()
	script(type="text/javascript").
		!(function(){
			var script = document.createElement('script');
			script.async = true;
			script.onload = function(){ WebFont.load({ google :{ families:['Roboto:300,400,500&display=swap' ] } }); };
			script.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
			document.head.appendChild(script);
		})();

mixin third-party()
	script( type="text/third-party" data-name="analytics" ).
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

mixin log( variable )
	script.
		console.log(!{JSON.stringify(variable)})

mixin svg-sprite()
	script(type="text/javascript").
		!(function(){
			var request = new XMLHttpRequest();
			request.onload = function(e) {
				var wrapper = document.createElement('div');
				wrapper.id = 'svg-sprite';
				wrapper.innerHTML = request.responseText;
				wrapper.style.display = 'none';
				document.body.insertBefore(wrapper, document.body.childNodes[0]);
			};
			request.open("GET", '#{site.assetsFolder}icons/sprite.svg?#{site.hash}', true);
			request.send();
		})();
