
mixin input({ label, rules })

	- const { name } = attributes
	- const error = `errors.${name} && form.${name}.touched`
	- const groupClass = `${error}? 'error':''`
	- const field = attributes.type == 'textarea' ? attributes.type : 'input'

	div.form-group( v-class=groupClass  )
		label( for=name )= label
		#{field}.form-control( data-validation=Boilerplate.toJSON(rules) v-value=`{{form.${name}.value}}` )&attributes( attributes )
		p.error-message( v-if=error ) {{ errors.#{name} }}

mixin select({ label, rules })

	- const { name } = attributes
	- const error = `errors.${name} && form.${name}.touched`
	- const groupClass = `${error}? 'error':''`

	div.form-group( v-class=groupClass  )
		label( for=name )= label
		select.form-control( data-validation=Boilerplate.toJSON(rules) v-value=`{{form.${name}.value}}` )&attributes( attributes )
			block
		p.error-message( v-if=error ) {{ errors.#{name} }}
